
/*html {
font-family: Gotham, 'Comfortaa', sans-serif;

}*/

body {
    padding-top: 50px;
    background: url('../images/main_page_coffee-background.png');
	background-position: static;
	color: white;
	font-family: Gotham, 'Comfortaa', sans-serif;


}

.starter-template {
    padding: 40px 15px;
    /*text-align: center;*/
}

.container {

	/*background-color: rgb(208, 208, 208);*/
}


.iconified:before {

	content:"\e019";
	font-family: "Glyphicons Halflings";
	color: yellow;


}

.navbar-brand {


}

.mynav {

	background-color: black;
}

.myfooter {

	background-color: black;
	margin-top: 10px;
}

/* begin styling flexbox container */

.flexbox {

	/*margin: 10px;*/
	background-color: rgb(230, 230, 230);
	border: 2px solid rgb(182, 182, 182);
	display: flex;
	height: 300px;
	width: 300px;
	margin: 0;


}

.flexbox li {


	height: 30px;
	width: 30px;
	border: 2px solid grey;
	padding: 5px;
	font-weight: bold;
	margin: 5px;
	text-align: center;


}



.flexbox-row {
	flex-direction: row;
}

.flexbox-row-reverse {
	flex-direction: row-reverse;
}

.flexbox-column {
	flex-direction: column;
}

.flexbox-column-reverse {
	flex-direction: column-reverse;
}

span {
	margin:0;
}


/* end styling flexbox container */

/* begin styling of flexbox items */


/*.default-flexbox-item-shape {

	height: 30px;
	width: 30px;
	border: 2px solid grey;
	padding: 5px;
	font-weight: bold;
	margin: 5px;

}*/

ul {

	margin: 0;
	list-style-type: none;
}

/*ul li {

	margin: 0;
	padding; 0;
}*/

.flexbox-item-blue {
	background-color: rgb(41, 171, 226);
	color: rgb(0, 113, 187);

}

.flexbox-item-magenta {
	background-color: rgb(237, 30, 121);
	color: rgb(158, 0, 93);
}

.flexbox-item-blue-text {
	color: rgb(0, 113, 187);
}

.flexbox-item-magenta-text {
	color: rgb(158, 0, 93);
}

/* end styling of flexbox items */

#totalprice {

	padding: 10px;
	border: 2px solid black;
  background: white;
  height: auto;
  width: 100px;
  color: black;

}

#totalprice:before {

	content="€";
}

#mainmessage {

	background: rgba(255,255,255,0.95);
	border: 1px solid black;
	color: black;
	padding: 30px;

}

#totalprice {
	margin: auto;
	background-color: #efefef;
}

#messageOffer {

	margin-top: 10px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding-top: 5px;
	padding-bottom: 5px;
}



.true::before {
	font-family: FontAwesome;
	content:'\f05d';
	color: green;



}

.false::before {

	font-family: FontAwesome;
	content: '\f05c';
	color: red;
}

.availability {

	border-top: 1px dashed black;
	border-bottom: 1px dashed black;
	margin-top: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 0;
	display: block;
	margin-bottom: 10px;
	position: relative;
}

span .shipping, .available {
	margin-top: 10px;
	display: inline-block;

}


h3.shoptitle {
	font-weight: bold;
	text-transform: uppercase;
}

.greetingtext{
	font-weight: bold;

}

#weights-chosen {

	border-bottom: 1px solid grey ;
	padding-bottom: 10px;
	margin-top: 15px;
	margin-bottom: 5px;
}

.review {


}

.reviewtext {

	background-color: rgb(28, 28, 28);
	font-weight: bold;
	text-transform: uppercase;
	padding-top: 5px;
	padding-bottom: 5px;
	border-spacing: 5px 5px;
	color: rgb(172, 121, 46);

}

.thin-border-top {

	border-top: 1px solid gray;
	margin-bottom: 5px;
}

.thin-border-bottom {
	padding-bottom: 5px;
	border-bottom: 1px solid gray;
}

.calc-span {
	font-weight: bold;
}

.calc-column-block {

	display: inline-block;
	padding: 5px;
	background-color: rgb(202, 185, 155);
}

.special-offer {

	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-top: 1px solid gray;
	border-bottom: 1px solid grey;

}

.review-border {

	border-top: 2px solid gray;
	border-bottom: 2px solid gray;
	padding-top: 1px;
	padding-bottom: 1px;
	margin-top: 10px;
	margin-bottom: 15px;
}