h1 {

	color: purple;
	font-weight: bold;
	font-size: 50px;
	text-decoration: overline;
}

p {

	font-family: Monaco, Arial, sans-serif;
	color: red;
}

h3 {

	color: #6F7D02 ;
	text-decoration-color: red;
	text-decoration: underline;
	font-style: italic;

}

body {
	margin: 0;
	background-color: #B9CE00 ;
}

blockquote {

	background-color: #EFEFEF;

}